.profile-pic {
    border-radius: 50%;
    height: 48px;
}

.mat-stroked-button {
    padding: 0 6px;
    min-width: 48px;
    line-height: 200%;
    overflow: hidden;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
