<div *ngIf="articles$ | async as articles" class="mt-2">
    <div class="mt-4 fs-6 ps-4 warn-text" *ngIf="!(total$ | async)">
        No articles here yet
    </div>
    <div *ngFor="let article of articles" class="pt-2 pt-sm-4">
        <div class="author d-flex mb-2">
            <a
                class="me-auto"
                [routerLink]="['/profile', article.author.username]"
            >
                <img [src]="article.author.image" class="profile-pic me-2" />
                <i>{{ article.author.username }}</i>
            </a>
            <button
                mat-icon-button
                color="primary"
                class="fs-sm"
                (click)="onFav(article.slug, article.favorited)"
                [disabled]="(favLoading$ | async) == article.slug"
            >
                <ion-icon
                    [name]="article.favorited ? 'heart' : 'heart-outline'"
                    class="me-1"
                ></ion-icon>
                {{ article.favoritesCount }}
            </button>
        </div>
        <div class="title line-clamp mb-2">
            <span
                [routerLink]="['/article', article.slug]"
                class="fs-6 bold"
                role="button"
            >
                {{ article.title }}
            </span>
        </div>
        <div class="description line-clamp mb-2">
            <span>{{ article.description }}</span>
        </div>
        <div class="meta d-flex text-muted">
            <i class="me-auto fs-sm">{{ article.updatedAt }}</i>
            <mat-chip-list class="d-none d-sm-inline">
                <mat-chip
                    *ngFor="let tag of article.tagList"
                    class="ms-2 fs-xs"
                    [routerLink]="['/feed', 'articles']"
                    [queryParams]="{ tag }"
                >
                    {{ tag }}
                </mat-chip>
            </mat-chip-list>
        </div>
        <hr />
    </div>
    <div class="mt-1">
        <mat-paginator
            [length]="total$ | async"
            [pageSize]="size"
            [pageSizeOptions]="options"
            (page)="updateFeed($event)"
            aria-label="Select page"
        ></mat-paginator>
    </div>
</div>
