.mat-stroked-button {
    padding: 0 6px;
    min-width: 48px;
    border-radius: 40%;
    line-height: 150%;
    overflow: hidden;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.profile-pic {
    border-radius: 50%;
    height: 32px;
}
