<div class="primary-color-BG py-5" *ngIf="display">
    <div class="container ps-4 ps-sm-1">
        <div class="fs-1 bold mb-4 text-white">Interface</div>
        <div class="mb-4 fs-5 text-white">
            An
            <a href="https://angular.realworld.io" target="_blank"
                >angular.realworld.io</a
            >
            implementation
        </div>
        <button mat-flat-button color="accent" [routerLink]="['/register']">
            Get started
        </button>
    </div>
</div>
